.room-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  &__short-des {
    font-size: 2rem;
    font-style: italic;
    color: #999;
  }

  &__price {
    font-size: 2rem;
    color: var(--nord11);
  }

  .room-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    margin-bottom: 10px;

    &__icon-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
    }

    &__icon {
      svg {
        width: 60px;
        height: 60px;
        fill: var(--nord3);
      }
    }

    &__title {
      font-size: 1.3rem;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .room {
    &__des {
      font-size: 2rem;
      text-align: center;
      max-width: 900px;
      padding: 20px;
      margin: 0 auto;
    }

    &__detal {
      margin-top: 40px;
      font-size: 2.5rem;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .room-list {
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;

    &__item {
      font-size: 2rem;
      display: flex;
      border-bottom: 1px solid var(--nord4);
      margin-bottom: 5px;
      justify-content: space-between;
    }
  }

  .room-links {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 60px;

    &--r {
      text-align: right;
      float: right;
    }

    &__link {
      color: var(--nord9);
      text-transform: uppercase;
    }
  }
}

@media (max-width: 760px) {
  .room-page {
    padding: 10px;

    &__short-des {
      font-size: 1.5rem;
      margin-right: 20px;
    }

    &__price {
      text-align: right;
      font-size: 1.5rem;
    }

    .room-links {
      &__tip {
        display: none;
      }
    }

    .room-icons {
      margin-right: 20px;
      &__title {
        font-size: 1rem;
      }
    }
  }
}
