.service-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  &__gal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__img {
    width: 500px;
    margin: 10px;
  }

  &__des {
    text-align: center;
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
