.nav-form {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: var(--nord10);
  position: relative;
  top: 2px;

  .title {
    text-transform: capitalize;
  }

  a {
    width: 30%;
    text-align: center;
    padding: 5px;
    margin: 10px;
    flex-shrink: 0;
    border: 1px solid var(--nord4);
    border-radius: 5px;
  }

  &--active {
    color: var(--nord11);
    text-decoration: underline;
  }
}

@media (max-width: 760px) {
  .nav-form {
    flex-wrap: wrap;

    .title {
      font-size: 1.5rem;
    }

    a {
      width: 100%;
    }
  }
}
