.reset-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--nord6);
  min-height: calc(100vh - 520px);

  &__form {
    max-width: 500px;
    margin: 0 auto;
    padding: 60px;
    font-size: 1.5rem;
  }

  &__form-error {
    margin-bottom: 10px;
  }

  .form {
    &__field {
      margin-bottom: 20px;
    }

    a {
      color: var(--nord10);
    }
  }
}

@media (max-width: 760px) {
  .reset-page {
    &__form {
      padding: 10px;
    }

    .form {
      &__field {
        margin-bottom: 20px;
      }
    }
  }
}
