.about-page {
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px;

  &__place {
    display: flex;
  }

  &__des {
    order: 1;
    font-size: 2rem;
    margin-right: 40px;
    padding: 20px;
  }

  &__img {
    order: 2;
    width: 100%;
  }

  .history {
    &__img {
      order: 2;
      width: 100%;
    }

    &__wrapper {
      padding: 20px;
    }

    &__name {
      font-size: 4rem;
      color: var(--nord11);
    }

    &__title {
      font-size: 2rem;
      font-style: italic;
      color: var(--nord3);
    }

    &__des {
      margin-bottom: 20px;
      font-size: 2rem;
    }
  }
}

@media (max-width: 760px) {
  .about-page {
    padding: 10px;

    &__place {
      flex-direction: column;
    }

    &__des {
      order: 2;
      margin-right: 0px;
    }

    &__img {
      order: 1;
      height: 200px;
      object-fit: cover;
    }
  }
}
