.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    flex-shrink: 0;
  }

  &__page {
    width: 100%;
    min-height: calc(100vh - 520px);
    margin-top: 60px;
  }

  &__footer {
    width: 100%;
    height: 460px;
    flex-shrink: 0;
    overflow: hidden;
  }
}

@media (max-width: 760px) {
  .app {
    &__menu {
    }

    &__page {
      // margin: 0px;
    }

    &__footer {
    }
  }
}
