.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 5px;
  background-color: white;
  filter: drop-shadow(-2px -2px 6px var(--nord3));
  z-index: 900;

  &__logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    order: 1;
    height: 100%;
    text-decoration: none !important;
  }

  .logo {
    &__img {
      height: 50px;
      width: 50px;
    }

    &__text {
      font-size: 2rem;
      margin-left: 10px;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--nord10);
    }
  }

  &__nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    order: 2;

    width: 100%;

    color: var(--nord10);
    font-size: 2rem;

    &--active {
      text-decoration: underline;
      color: var(--nord11);
    }
  }

  &__nav-burger {
    display: none;
    cursor: pointer;

    svg {
      fill: var(--nord10);
    }
  }

  &__lang {
    order: 3;
    flex-shrink: 0;
    height: 30px;

    select {
      color: var(--nord10);
      text-transform: uppercase;
      position: relative;
      top: -2px;
      height: 30px;
      display: inline-block;
      width: 60px;
      padding: 0px;
      font-size: 2rem;
      outline: none;
      text-transform: capitalize;
      border: none;
      background: transparent;
    }
  }
}

@media (max-width: 760px) {
  .menu {
    justify-content: space-between;

    .logo {
      &__img {
        height: 40px;
        width: 40px;
      }
      &__text {
        font-size: 2rem;
      }
    }

    &__nav-container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      position: fixed;
      top: 60px;
      right: -100%;
      padding: 20px;
      width: 100%;
      height: calc(100vh - 60px);
      background-color: white;
      z-index: 999;
      transition: all 0.3s ease 0s;

      a {
        font-size: 2rem;
        margin-bottom: 10px;
      }

      &--open {
        right: 0;
      }
    }

    &__nav {
      width: 50px;
      order: 3;
    }

    &__nav-burger {
      width: 50px;
      margin-right: 20px;
      display: block;

      svg {
        width: 35px;
        height: 35px;
      }
    }

    &__lang {
      order: 2;
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 880px) {
  .menu {
    &__nav {
      font-size: 1.5rem;
    }
  }
}
