.services-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;

  &__des {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
  }

  .service-gall {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__item {
      position: relative;
      margin: 10px;
    }

    &__text {
      pointer-events: none;
      z-index: 99;
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      color: white;
      font-size: 3rem;
      text-shadow: 2px 2px 3px #333;
      text-transform: uppercase;
    }

    &__img {
      height: 400px;
    }
  }
}
