.reservation-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--nord6);
  min-height: calc(100vh - 520px);
  padding-bottom: 60px;

  &__form {
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.5rem;
  }

  &__form-error {
    margin-bottom: 10px;
  }

  .form {
    &__field {
      margin-bottom: 20px;
    }

    a {
      color: var(--nord10);
    }
  }
}

.select {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--nord4);
  border-radius: 3px;
  background-color: white;
  font-size: 1.2rem;
  outline: none;
  font-size: 2rem;
}

.calendar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.react-datepicker {
  transform: scale(1.35);
  margin-top: 40px;
  margin-bottom: 40px;
  border-color: var(--nord4);
}

.react-datepicker__header {
  background-color: white;
}

@media (max-width: 760px) {
  .calendar {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}
