.footer {
  display: flex;
  justify-content: space-around;

  width: 100%;
  padding: 20px;

  background-color: var(--nord3);
  color: white;
  box-shadow: 1px 50px 20px -50px black inset;

  .info {
    width: 20%;
    padding-right: 20px;
    flex-shrink: 0;

    &__title {
      margin-bottom: 20px;
    }

    &__text {
      font-size: 1.5rem;
      margin-bottom: 20px;

      a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
      }
    }

    &__mini-icon {
      flex-shrink: 0;
      margin-right: 10px;
      width: 24px;
      height: 24px;
    }

    &__icon {
      fill: white;
    }

    &__icon:hover {
      fill: var(--nord9);
    }

    &__social-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      a {
        margin-left: 10px;
      }
    }
  }

  .map {
    width: 60%;

    &__title {
      font-size: 3rem;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    &__img {
      height: 340px;
      border: 1px solid white;
      background-image: url(../../assets/images/map.png);
      background-position: center center;
      background-size: cover;
    }

    &__map:hover {
      cursor: pointer;
    }
  }

  .links {
    width: 20%;
    flex-shrink: 0;
    padding-left: 30px;

    &__title {
      font-size: 3rem;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    &__links {
      font-size: 1.5rem;

      a {
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 760px) {
  .footer {
    flex-direction: column;
    height: auto;

    .info {
      width: 100%;
      margin: 0;
    }

    .map {
      margin-top: 20px;
      width: 100%;
    }

    .links {
      text-align: center;
      padding: 0;
      width: 100%;

      a {
        margin-bottom: 10px;
      }
    }
  }
}
