.title-wrapper {
  text-align: center;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.subtitle {
  z-index: 2;
  position: relative;
  font-size: 6rem;
  color: var(--nord4);
  font-style: italic;
  text-transform: capitalize;
}

.title {
  z-index: 3;
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;

  &--up {
    top: -3rem;
  }
}

@media (max-width: 760px) {
  .title-wrapper {
    margin: 10px;
  }
}
