.home-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 540px;
    background-color: #ccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/images/bg-home.png);

    &__text {
      text-align: center;
      color: white;
      font-size: 4rem;
      text-shadow: 3px 3px 3px #000000;
    }

    &__button {
      color: var(--nord2);
      text-transform: uppercase;
      padding: 12px;
      width: 250px;
      text-align: center;
      background-color: var(--nord13);
      border: 1px solid var(--nord10);
    }

    &__button:hover {
      color: var(--nord10);
      background-color: var(--nord4);
    }
  }

  .welcome-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: -40px;
    flex-direction: column;
    max-width: 980px;
    text-align: center;
    margin-top: 20px;

    &__des {
      font-size: 2rem;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 20px;
    }

    &__img {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      img {
        width: 100%;
        padding: 10px;
      }
    }
  }

  .rooms-block {
    background-color: var(--nord6);
    padding: 40px;
    max-width: 1400px;

    &__title {
      margin: 0 auto;
    }

    .slide {
      background-color: white;
    }

    .slide-room {
      background-color: var(--nord6);
      display: flex;
      justify-content: center;

      &__img {
        width: 50%;
      }

      &__content {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // min-height: 500px;
        // max-height: 500px;
        height: auto;

        background-color: white;
        padding: 20px;
        padding-bottom: 60px;
      }

      &__price-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        font-size: 1.5rem;
      }

      &__title {
        font-size: 2.5rem;
        text-transform: uppercase;
      }

      &__short-des {
        font-style: italic;
        font-size: 2rem;
        color: var(--nord3);
      }

      &__des {
        padding-top: 20px;
        width: 70%;
        font-size: 1.5rem;
      }

      &__price {
        color: var(--nord11);
      }

      a {
        color: var(--nord10);
        text-decoration: underline;
      }
    }
  }

  .service-block {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__item {
      position: relative;
      margin: 10px;
    }

    &__text {
      pointer-events: none;
      z-index: 99;
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      color: white;
      font-size: 3rem;
      text-shadow: 3px 3px 3px #555;
      text-transform: uppercase;
    }

    &__img {
      height: 400px;
    }
  }

  .review-block {
    width: 100%;
    padding: 20px;

    .slide {
      background-color: white;
    }

    .review {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      color: black;

      img {
        width: 70px;
        height: 70px;
        margin-bottom: 20px;
        border-radius: 50%;
        object-fit: cover;
      }

      &__des {
        width: 100%;

        overflow: hidden;
      }

      &__text {
        font-size: 1.5rem;
        margin-bottom: 20px;
        text-align: center;
      }

      &__name {
        font-size: 1.5rem;
        color: var(--nord10);
      }
    }
  }

  .award-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: 40px;

    &__img {
      height: 100px;
    }
  }
}

@media (max-width: 760px) {
  .home-page {
    .rooms-block {
      width: 100%;
      padding: 0px;

      .slide-room {
        flex-direction: column;

        &__img {
          object-fit: cover;
          width: 100%;
          height: 50%;
          display: block;
          margin: 0 auto;
        }

        &__content {
          width: 100%;
          height: auto;
          flex-direction: column;
          align-items: center;
        }

        &__title {
          font-size: 1.5rem;
        }

        &__des {
          display: none;
        }
        &__price-wrapper {
          flex-direction: column;
        }
      }
    }
  }
}
