.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
  color: var(--nord0);
  text-transform: uppercase;

  &__text {
    font-size: 5rem;
    text-align: center;
  }

  &__icon {
    fill: var(--nord11);
    width: 150px;
    height: 150px;
  }

  a:hover {
    text-decoration: underline;
    color: var(--nord7);
  }
}
