.account-page {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 40px;

  &__title {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .table-reservation {
    border: 1px solid var(--nord13);
    overflow: auto;
    max-height: 500px;

    table {
      width: 100%;
      text-transform: uppercase;
      font-size: 1.4rem;
      padding: 20px;

      thead {
        td {
          text-align: center;
          padding-right: 10px;
          padding-left: 10px;
        }

        tr {
          text-align: center;
          color: var(--nord10);
          height: 60px;
          margin-right: 40px;
        }
      }

      tbody {
        td {
          text-align: center;
          padding-right: 10px;
          padding-left: 10px;
        }

        tr {
          height: 80px;
          width: 100%;
        }

        tr:hover {
          background-color: var(--nord6);
        }
      }
    }

    &__status {
      font-size: 3rem;
    }

    &--empty {
      font-size: 2rem;
      text-transform: uppercase;
      color: var(--nord4);
    }
  }

  .review-block {
    margin-top: 40px;
    font-size: 1.5rem;

    &__success {
      font-size: 2rem;
      padding: 5px;
      border: 1px solid var(--nord14);
      color: var(--nord14);
      font-weight: bold;
    }

    .form {
      margin-top: 20px;

      &__field {
        margin-bottom: 20px;
      }

      textarea {
        width: 100%;
        font-size: 2.2rem;
      }

      a {
        color: var(--nord10);
      }
    }
  }
}
