.button {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--nord4);
  border-radius: 3px;
  background-color: var(--nord13);
  color: var(--nord3);
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
}

.button:hover {
  border: 1px solid var(--nord9);
  background-color: var(--nord4);
}

.button:focus {
  background-color: var(--nord9);
  border: 1px solid var(--nord10);
}
