.rooms-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;

  .room {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .room-item {
    width: 50%;
    padding: 20px;

    &__img {
      width: 100%;
    }

    &__title {
      margin-top: 5px;
      font-size: 2rem;
      text-transform: uppercase;
    }

    &__price {
      margin-top: 5px;
      font-size: 1.5rem;
      color: var(--nord11);
    }
  }

  .review-block {
    display: flex;
    width: 100%;
    max-width: 900px;
    max-height: 400px;
    overflow-y: auto;

    padding: 20px;
    margin: 0 auto;
    flex-direction: column;

    &__item {
      display: flex;
      flex-direction: row;
      margin-bottom: 40px;
    }

    &__content {
      width: 100%;
      height: 100%;
    }

    &__top {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    &__img {
      flex-shrink: 0;
      height: 60px;
      width: 60px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 20px;
    }

    &__text {
      font-size: 1.5rem;
    }

    &__date {
      font-size: 1.2rem;
      color: var(--nord11);
    }

    &__name {
      font-size: 1.5rem;
      color: var(--nord10);
    }
  }

  .award-block {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    margin-bottom: 40px;

    &__right {
      width: 80%;
      margin-right: 40px;
    }

    &__tittle {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }

    &__subtittle {
      font-size: 2rem;
      color: #999;
      margin-bottom: 20px;
    }

    &__des {
      font-size: 1.5rem;
      color: var(--nord10);
    }

    &__img {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 760px) {
  .rooms-page {
    padding: 10px;

    .room-item {
      width: 100%;
    }

    .review-block {
      &__img {
        height: 40px;
        width: 40px;
      }
    }

    .award-block {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      &__right {
        width: 100%;
        margin-right: 0px;
      }

      &__img {
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
      }
    }
  }
}
